body{
    margin: 0px;
    padding: 0px;
}

.Loading{
height:250px;
width: 250px;
border: 11px solid rgb(199, 199, 236);
border-right-color: blue;
border-radius: 50%;
animation: round 1s ease infinite;
}

@keyframes round {
    0%{
        transform: rotate(0deg)
    }
        100%{
        transform: rotate(360deg)
    }
}